.box{
    border: 5px solid olive;
    margin-bottom: 4rem;
    width: 20rem;
    height: 4rem;
    background-color: bisque;
}

.box1{
    overflow: visible;
}
.box2{
overflow: hidden;
}
.box3{
overflow: scroll;
}
.box4{
    height: 7rem;
overflow: auto;
}
.box5{
overflow-y: auto;
overflow-x: auto;
}
.par1{
    background-color: fuchsia;
    width: 70vw;
}

.box5::-webkit-scrollbar{

    /* width: 0; */
    /* visibility: hidden; */
    display: none;

}