@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Caveat:wght@400..700&family=Monsieur+La+Doulaise&display=swap');


* {
    /* margin: 0; */
}

body{
    /* background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
height: 100vh; */

}




ul.languages{
    /* border: 2px solid red; */
    /* padding: 0; */

    /* madde imi stiller */
    list-style-type: none;
    list-style-type: square;
    list-style-type: circle;
    list-style-type: lower-alpha;
    list-style-type: georgian;
    list-style-type: none;


    /* madde imleri Li'lerin icinde mi disinda mi */

    list-style-position: inside;

    /* list-style-image: url(./img/house-solid.svg); */
    

}

h2{
    color: purple;
    
}

h2 i{color: magenta;}

ul.languages li{background-color: lightgreen; 
margin: 5px;
width: 250px;
border-radius: 5px;
padding-left: 20px;
border: 2px solid orange;
border-left: 5px solid grey;

}

ul.languages li::before{

    content: url(./img/house-solid.svg);
    border: 2px solid red;
    /* background-color: red; */
    color: red;
    display: inline-block;
    width: 14px;
    height: 16px;
    /* background-image: url(./img/house-solid.svg); */
    margin-right: 10px;
    padding-right: 5px;
    /* background-color: red; */

}

ul.languages li:hover{
    opacity: 0.8;
    cursor: pointer;
}
ul.languages li:hover{
    background-color: red;
}

/* PSEUDO CLASS */

ul.pseudo li:first-child{

    color: red;
}

ul.pseudo li:last-child{
    color: blue;
    /* font-family: "Caveat", cursive; */
    font-family: "Bitter", serif;
    /* font-family: "Monsieur La Doulaise", cursive; */
}

ul.pseudo li:nth-child(3){

    color: magenta;
}

ul.pseudo li:nth-child(5){

    color: olive;
    font-size: 2rem;
    list-style-type: none;
    font-family: 'caveat' , cursive;
    font-weight: 500;
}

ul.pseudo li:nth-child(odd){

    background-color: olive;
}

ul.pseudo li:nth-child(even){

    background-color: blue;
}

ul.pseudo li:hover{

    background-color: pink;
}

ul.pseudo li:active{

    background-color: red;
    color: white;
}

input:focus{
    background-color: tomato;
    color: white;
    border: 4px solid gray;
}

/* LINK PUSEUDO CLASSAS */

nav.link a:link{
    color: red;
}
nav.link a:visited{
    color: darkgreen;
}
nav.link a:visited{
    color: lightcoral;
}
nav.link a:hover{

    color: blue;
}

nav.cw a{
    text-decoration: none;
    border: 2px solid darkorange;
    padding: 5px;
    margin: 10px;
    color: gray;
    border-radius: 10px;
    background-color: darkorange;
}

nav.cw a:hover{
    background-color: gray;
    color: darkorange;
}

nav.cw a:hover i{
    color: purple;
}

naw a i{
    font-size: 1.1rem;
}

/* PSEUDO ELEMENTS */

.p-elements::first-line{

    color: red;
}

.p-elements::first-letter{

font-size: 2rem;
font-weight: 900;
font-family: 'Times New Roman', Times, serif;}

ul.before-after{

list-style-type: none;

}

ul.before-after li{
    background-color: lightcoral;
    margin: 0.5rem;
    width: 40%;
    border-radius: 10px;
    /* padding-left: 20px; */
    text-align: left;
    /* margin: 10px auto; */

}

ul.before-after li::before{

content: '🏁';
margin: 10px;

}

ul.before-after li:nth-child(2)::after{

content: '🏁';
margin: 10px;

}